# This CI setup checks that running `make` can successfully build the paper.
# If you need non-standard LaTeX packages, you can either commit them directly
# to the repository or you can follow the instructions at https://github.com/dante-ev/latex-action#readme.

name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3
      - name: Run make
        uses: dante-ev/latex-action@latest
        with:
          entrypoint: make
