# This CI setup checks that running `make` can successfully build the paper.

name: Build LaTeX document
on: [push, pull_request]
jobs:
  make:
    runs-on: ubuntu-latest
    container:
      image: texlive/texlive:TL2022-historic
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - run: make
